body{
    background:linear-gradient(to bottom right, #00020F, #013162);
    min-height:100vh;
    overflow:hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --font-1: 'Oswald', sans-serif;
    --font-2: 'Fredoka One', cursive;
    --font-3: 'Poiret One', cursive;
    --font-4: 'Roboto Mono', monospace;
}
:before, 
:after{
    content: '';
    position:absolute;
}
canvas{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.jd__app{
    width:100%;
    height:100vh;
    position:relative;
    font-family:var(--font-3);
    color:#FFF;
    font-size:1em;
    overflow:hidden;
    background:linear-gradient(135deg, #1B4B7B 300px, transparent 301px);
}
.jd__aside{
    width:250px;
    height:150px;
    position:absolute;
    top:80px;
    left:0;
}
.jd__icon{
    width:120px;
    height:120px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:var(--font-2);
    border-radius:50%;
    background:#061F3E;
    color:rgba(255,255,255,.2);
    font-size:6em;
    font-weight:300;
    margin-left:65px;
}
.jd__container{
    position:relative;
    width:728px;
    height:100vh;
    margin:0 auto;
    z-index:1000;
}
.jd__inner{
    width:728px;
    height:486px;
    position:absolute;
    top:80px;
    left:0;
    background:radial-gradient(620px 620px ellipse at -100px center, #1F3B63 620px, transparent 621px), #FEB750;
}
.jd__inner:after{
    width:75%;
    height:50px;
    background:#000;
    border-radius:50%;
    filter:blur(25px);
    left:12.5%;
    bottom:-20px;
    z-index:-1;
}
.jd__inner__xat{
    width:524px;
    height:325px;
    border-radius:8px;
    position:absolute;
    top:9px;
    left:11px;
    background:linear-gradient(to bottom right, rgba(255,255,255,.4), rgba(255,255,255,.1));
}
.jd__inner__xat:before,
.jd__inner__xat:after{
    border-radius:8px;
    background:linear-gradient(to bottom right, rgba(255,255,255,.4), rgba(255,255,255,.1));
}
.jd__inner__xat:before{
    width:171px;
    height:325px;
    top:0;
    left:calc(100% + 12px);
}
.jd__inner__xat:after{
    width:481px;
    height:71px;
    left:0;
    top:calc(100% + 72px);
}
.jd__letter{
    width:262px;
    height:125px;
    position:relative;
    top:100px;
    left:240px;
    z-index:1000;
}
.jd__letter h1{
    width:100%;
    height:70px;
    line-height:70px;
    background:url(https://i.postimg.cc/BbFX0NR2/logo-xat.png)left center no-repeat;
    background-size:94px;
    padding-left:90px;
    font-weight:lighter;
    font-size:4em;
}
.jd__box{
    width:100%;
    height:50px;
    border:solid 1px #FEB750;
    margin-top:5px;
    text-align:center;
    padding:5px;
    position:relative;
}
.jd__box h2{
    color:#fff;
    line-height:20px;
    font-family:var(--font-4);
    width:calc(100% - 10px);
    position:absolute;
    top:5px;
    left:5px;
    font-weight:lighter;
    font-size:1em;
}