body{
    background:linear-gradient(to bottom right, #0C187E, #125FAB), #125FAB;
    width:100%;
    min-height:100vh;
    overflow:hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --font-1: 'Oswald', sans-serif;
    --font-2: 'Poppins', sans-serif;
    --font-3: 'Open Sans', sans-serif;
}
:before, 
:after{
    content:'';
    position:absolute;
}
span{
    display:block;
}
canvas{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.jd__app{
    width:1248px;
    height:100vh;
    position:relative;
    margin:0 auto;
    display:flex;
    font-family:var(--font-1);
    color:#FFF;
    font-size:1em;
    z-index:1000;
}
aside, section{
    position:relative;
}
aside{
    width:250px;
}
.jd__box{
    position:absolute;
    width:241px;
    height:387px;
    top:135px;
}
header{
    width:100%;
    height:80px;
    position:relative;
}
.jd__img{
    width:80px;
    height:80px;
    position:absolute;
    border-radius:50%;
    background:#062887;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    box-shadow:0 0 25px rgba(0,0,0,.2);
    z-index:100;
}
.jd__img img{
    width:60px;
}
.jd__xat{
    width:190px;
    height:40px;
    background:#DCDCDC;
    border-radius:20px;
    margin-top:20px;
    margin-left:51px;
    display:inline-block;
    position:relative;
    color:#222;
    line-height:40px;
    font-size:1em;
    padding-left:40px;
    text-transform:uppercase;
    position:relative;
}
.jd__xat[data-tooltip]:after{
    content:attr(data-tooltip);
    background:#F8B520;
    width:90px;
    height:24px;
    border-radius:12px;
    font-size:.65em;
    text-align:center;
    line-height:24px;
    top:30px;
    right:20px;
}
.jd__content{
    width:230px;
    height:300px;
    margin-top:10px;
    background:#1B5A9A;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,.1);
    padding:20px;
}
ul{
    width:100%;
    height:220px;
    position:relative;
    padding-left:15px;
    padding-top:15px;
    border-left:solid 1px #346998;
    list-style:none;
}
ul:after{
    width:10px;
    height:10px;
    background:#346998;
    border-radius:50%;
    left:-4.5px;
    top:27px;
    box-shadow:0 33px #346998, 0 66px #346998, 0 99px #346998, 0 132px #346998;
}
ul li{
    line-height:28px;
    margin-top:5px;
}
.jd__content span{
    font-size:.7em;
    text-align:right;
    opacity:.6;
    margin-top:15px;
}
.jd__inner{
    width:728px;
    height:486px;
    top:80px;
    position:absolute;
    left:10px;
    background:#004C8F;
}
.jd__inner:after{
    width:75%;
    height:50px;
    background:#000;
    border-radius:50%;
    filter:blur(25px);
    left:12.5%;
    bottom:-25px;
    opacity:.6;
    z-index:-1;
}
.jd__title{
    width:150px;
    height:150px;
    position:absolute;
    top:100px;
    left:350px;
    text-align:center;
}
.jd__title h1{
    width:118px;
    height:118px;
    line-height:118px;
    border-radius:50%;
    border:solid 3px #000;
    color:#000;
    font-family:var(--font-2);
    font-size:5em;
    margin-left:16px;
    opacity:.4;
}
.jd__title p{
    color:rgba(0,0,0,.9);
}
