body{
    background:linear-gradient(to left bottom, #024A84, #04739E);
    min-width:100vw;
    min-height:100vh;
    overflow:hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-select:none;
    user-select:none;
}
:root{
    --font-1: 'Black Ops One', cursive;
    --font-2: 'Nanum Gothic Coding', monospace;
    --font-3: 'Open Sans Condensed', sans-serif;
    --font-4: 'Teko', sans-serif;
}
:before, 
:after{
    content:'';
    position:absolute;
}
canvas{
    position:absolute;
    top:0;
    left:0;
}
.jd__main{
    width:728px;
    height:486px;
    position:absolute;
    top:80px;
    left:50%;
    transform:translateX(-50%);
    background:linear-gradient(#2478A6, #609AC2);
    z-index:1000;
}
.jd__main:before,
.jd__main:after{
    box-shadow:0 0 0 1px #0978BD;
}
.jd__main:before{
    width:calc(100% + 10px);
    height:calc(100% + 10px);
    left:-5px;
    top:-5px;
}
.jd__main:after{
    width:calc(100% + 20px);
    height:calc(100% + 20px);
    left:-10px;
    top:-10px;
}
.jd__inner__xat{
    width:100%;
    height:100%;
    position:absolute;
}
.jd__title{
    width:195px;
    height:120px;
    position:absolute;
    top:100px;
    left:320px;
    font-size:1em;
    font-family:var(--font-4);
    color:#054E6E;
    text-align:center;
}
.jd__title h2{
    font-weight:lighter;
    font-size:.95em;
}
.jd__title span{
    width:100%;
    display:block;
    letter-spacing:3px;
    font-size:1.2em;
}
.jd__title h1{
    display:table;
    width:195px;
    font-family:var(--font-1);
    font-size:3.4em;
    line-height:40px;
    color:transparent;
    background:linear-gradient(#006998, #3881AA);
    -webkit-background-clip:text;
    background-clip:text;
    margin:6px 0;
    font-weight:300;
    -webkit-text-stroke: 1px #006998;
}
.jd__title p{
    font-size:1em;
    font-family:var(--font-4);
    font-weight:lighter;
    width:100%;
    position:absolute;
}
.jd__title p:before, 
.jd__title p:after{
    width:120px;
    height:1px;
    background:#006998;
    left:50%;
    transform:translateX(-50%);
}
.jd__title p:before{
    top:0;
}
.jd__title p:after{
    width:80px;
    bottom:0;
}